<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <application>
        <activity android:name="com.example.libHome.linearLayout.LinearLayoutTestActivity" />
        <activity android:name="com.example.libHome.eventBus.EventBusTestActivity" />
        <activity android:name="com.example.libHome.viewStub.ViewStubTestActivity" />
        <activity android:name="com.example.libHome.viewStub.ViewStubTest2Activity" />
        <activity android:name="com.example.libHome.therouter.RouterTestActivity" />
        <activity android:name="com.example.libHome.therouter.RouteSearchTranslationTestActivity" />
        <activity android:name="com.example.libHome.therouter.InterceptorTestActivity1" />
        <activity android:name="com.example.libHome.therouter.InterceptorTestActivity2" />
        <activity android:name="com.example.libHome.therouter.InterceptorTestActivity3" />
        <activity android:name="com.example.libHome.viewStub.ViewStubActivity" />
        <activity android:name="com.example.libHome.room.RoomActivity" />
        <activity android:name="com.example.libHome.intentSetting.IntentSettingActivity" />
        <activity android:name="com.example.libHome.calendar.CalendarRemindActivity" />
        <activity android:name="com.example.libHome.span.ReplacementSpanActivity"/>
    </application>
</manifest>